PORT=50900
NODE_ENV=production
COMPANY_NAME=TEDDY-XMD Support
ADMIN_KEY=change_this_to_something_random_2026

MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/teddy_prod
BOT_TOKEN=123456:ABC
ADMIN_IDS=6815918612

OUTLOOK_EMAIL=teddyxmd@hotmail.com
OUTLOOK_PASS=xxxx xxxx xxxx xxxx

GEMINI_API_KEY=AIzaSy...
